@import "compass/reset";
@import "compass/css3";
@import "_fonts";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$lightBlue: #EAF1FE;
$blueGrey: #A0BCBD;
$darkBlue: #22283B;
$lightBlueGrey: #4E6370;
$lightGrey: #C1CDD2;
$almostWhite: #E6F0EF;

html{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.titleApp{
  font-size: 2em;
  text-align: center;
  padding: 0.25em 0;
  background-color: $lightBlueGrey;
  color: $almostWhite;
  font-weight: 300;
}
.sideResults{
  height: calc(100vh - 42px);
  width:300px;
  position: absolute;
  color: $almostWhite;
  z-index: 2;
}
.menuSideMenu{
  background-color: $darkBlue;
  width: 270px;
  height: 100%;
  float: left;
  overflow: scroll;
  position: relative;
}
.menuSideResults{
  float: right;
  width: 30px;
}

.searchMenu{
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  @include background($darkBlue);
}
.menu-btn{
  padding: 5px 0 0 5px;
}
#map{
  position: absolute;
  height: calc(100vh - 42px);
  width: 100%;
}
.location{
  padding: 0.25em 0.25em 0.25em 1em;
}
.locationName,.categoryIcon{
  cursor: pointer;

}
.categoryIcon{
  padding-left: 0.25em;
}
.locationName{
  padding-left: 0.25em;
}
.searchPOI{
  margin-top:1em;
  margin-left: 1em;
}
.categoryIcon{
  &:before{
    background-color: red;
    margin:0.25em 0;
    padding:0.25em;
    display: inline-block;
    border-radius: 0.25em;
  }
}
#POIlist{
  margin-top: 45px;
}
#searchForm{
  height: 45px;
  background-color: inherit;
  position: fixed;
  top:42px;
  width: 270px;
}
