@import "compass/reset";
@import "compass/css3";
@import "_fonts";

$lightBlue: #EAF1FE;
$blueGrey: #A0BCBD;
$darkBlue: #22283B;
$lightBlueGrey: #4E6370;
$lightGrey: #C1CDD2;
$almostWhite: #E6F0EF;


.sideResults{
  height:500px;
  width:300px;
  position: absolute;
  color: $almostWhite;
}
.menuSideMenu{
  background-color: $darkBlue;
  width: 270px;
  height: 100%;
  float: left;
}
.menuSideResults{
  float: right;
  width: 30px;
}

.searchMenu{
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  @include background($darkBlue);
}
.menu-btn{
  padding: 5px 0 0 5px;
}
#map{
  background-color:aqua;
  height:500px;
  width: 100%;
}
