@import "compass/reset";
@import "compass/css3";
@import "_fonts";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

$lightBlue: #EAF1FE;
$blueGrey: #A0BCBD;
$darkBlue: #22283B;
$lightBlueGrey: #4E6370;
$lightGrey: #C1CDD2;
$almostWhite: #E6F0EF;

html{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.titleApp{
  font-size: 2em;
  text-align: center;
  padding: 0.25em 0;
  background-color: $lightBlueGrey;
  color: $almostWhite;
  font-weight: 300;
}
.sideResults{
  height: calc(100vh - 42px - 43px);
  width:300px;
  position: absolute;
  color: $almostWhite;
  z-index: 3;
}
.menuSideMenu{
  background-color: $darkBlue;
  width: 270px;
  height: 100%;
  float: left;
  overflow: scroll;
  position: relative;
}
.menuSideResults{
  float: right;
  width: 30px;
}

.searchMenu{
  height: 30px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  @include background($darkBlue);
}
.menu-btn{
  padding: 5px 0 0 5px;
}
#map{
  position: absolute;
  height: calc(100vh - 42px - 43px);
  width: 100%;
}
#pano {
  width: 200px;
  height: 200px;
}
.location{
  padding: 0.25em 0.25em 0.25em 1em;
}
.iconHidden{
  display: none;
}
.location:hover .iconHidden{
  display: inline-block;
}
.locationName,.categoryIcon{
  cursor: pointer;

}
.categoryIcon{
  padding-left: 0.25em;
}
.locationName{
  padding-left: 0.25em;
}
.searchPOI{
  margin-top:1em;
  margin-left: 1em;
}

.categoryIcon{
  &:before{
    background-color: red;
    margin:0.25em 0;
    padding:0.25em;
    display: inline-block;
    border-radius: 0.25em;
  }
}
#POIlist{
  margin-top: 45px;
}
#searchForm{
  height: 45px;
  background-color: inherit;
  position: fixed;
  top:42px;
  width: 270px;
}
.news{
  &Headline{
    color: black;
    margin-left: 2em;
  }
  &Link{
    text-decoration: none;
    color: inherit;
  }
}
#news{
  width: 200px;
  height: 5em;
  overflow: scroll;
  list-style-type: disc !important;
  list-style-position: outside !important;
}
.markerName{
  font-size: 1.25em;
  text-align: center;
  padding-bottom: 0.5em;
}
#error{
  position: fixed;
  padding: 2em 0;
  width: 100%;
  top: 42px;
  height: auto;
  text-align: center;
  z-index: 10;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 1.5em;
  overflow: scroll;
}
footer{
  z-index: 10;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 1em 0;
  background-color: $almostWhite;
  color: #000;
  text-align: center;
  a{
    &:link,
    &:visited,
    &:hover,
    &:active,
    {color: inherit;}
    text-decoration: none;
  }
}
.errorMap{
  &Img{
    margin: 0 auto;
    display:block;
    width: 60%;
    max-width: 350px;
  }
  &Msg{
    padding-top: 1em;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
  }
}
